@use "../../styles/base/variables" as *;
@use "../../styles/base/mixins" as *;

.main-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr;




    .asd {  
        background-color: $gray-bg;
    }

}