@use "base/index" as *;

:root {
  color: $dark;

  width: 100%;
  min-height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

span {
  font-size: 0.875rem;
  font-weight: 100;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}

button {
  border-radius: 20px;
  border:none;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}



table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    padding: 1rem;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: rem;
    }
  }
}