@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font-family: "Manrope", sans-serif;

//Fonts go here

$light: #fefefe;
$dark: #0A0A0A;
$gray-bg: #EEF2FA;
$blue: #1447E6;
$light-blue: #2B7FFF;
$light-blue2: #20457D;
$light-blue3: #7FB3EE;
$dark-blue: #155DFC;
$darker-blue: #1D293D;
$darker-blue-2: #1A2B45;
$darker-blue-3:  #314158;

$span-color1: #8EC5FF;
$span-color-2: #62748E;

$hover-color: #1C3862;
$menu-color: #90A1B9;

$red-hover: #302B43;
$red-clr: #99606F;

$input-color: #F8FAFC;

$initials-color1: #1E3B6B;
$initials-txt-color1: #68AAF2;

$initials-color2: #DBEAFE;
$initials-txt-color2: #325DE8;

$progress: #2B7FFF;

$sales: #155DFC;
$ave: #009966;

$green: #0F4447;
$light-green: #00D492;

$gold: #FEF9C2;
$dark-gold: #B67D1F;

$gradient-backup: #0F182D;
$gradient: linear-gradient(130deg,rgba(15, 24, 45, 1) 0%, rgba(22, 36, 85, 1) 50%, rgba(15, 24, 45, 1) 100%);

$gradient-backup2: #1E395D;
$gradient2: linear-gradient(90deg,rgba(30, 57, 93, 1) 0%, rgba(15, 33, 52, 1) 100%);

$transition-fast: 0.2s ease;
$transition-normal: 0.25s ease;
$transition-slow: 0.35s ease;