@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

$font-family: 'Outfit', sans-serif;

//Fonts go here

$light: #fefefe;
$dark: #0A0A0A;
$light-blue: #2B7FFF;
$dark-blue: #155DFC;
$darker-blue: #1D293D;

$span-color1: #8EC5FF;
$span-color-2: #62748E;


$input-color: #F8FAFC;

$gradient-backup: #0F182D;
$gradient: linear-gradient(130deg,rgba(15, 24, 45, 1) 0%, rgba(22, 36, 85, 1) 50%, rgba(15, 24, 45, 1) 100%)
