@use "../../styles/base/variables" as *;
@use "../../styles/base/mixins" as *;

.auth-container {
    @include flex-center(column);
    background-color: $gradient;
    background: $gradient;

    height: 100vh;

    .auth-header {
        @include flex-center(column, $gap: 1rem);

        .iconLogo {
            border-radius: 20px;
            background-color: $light-blue;
            box-shadow: 0 15px 50px $light-blue;
            padding: 1rem 1rem 0.75rem 1rem;


            .pillIconLogo {
                color: $light;
            }
        }

        h1 {
            color: $light;
        }

        span {
            color: $span-color1;
        }
    }
}