@use "../../styles/base/variables" as *;
@use "../../styles/base/mixins" as *;


.btn {
    background-color: $dark-blue;
    color: $light;

    border: none;
    border-radius: 20px;
}

.auth {
    padding: 0.75rem 1rem;

    box-shadow: 0 3px 12px $dark-blue;
}

.logoutbtn {
    @include flex(row, 1rem);
    align-items: center;
    background-color: inherit;
    color: $menu-color;
    width: 100%;
    padding: 1rem;

    transition:
        background-color $transition-normal,
        color $transition-normal;

    &:hover {
        background-color: $red-hover;
        color: $red-clr;
    }

    span {
        transition: opacity .2s ease;
    }
}

.filter {
    padding: 0.5rem 1rem;
    background-color: $light;
    border-radius: 20px;

    p {
        font-weight: bold;
        font-size: 0.813rem;
        color: $darker-blue;
    }
}

.aiBtn {
    display: flex;
    flex: 1;

    justify-content: center;
    color: $span-color-2;
    background-color: $light;
    padding: 1rem;
    font-weight: 600;

    transition: $transition-normal;
    padding: 1rem;

    border-radius: 0;

    &:active {
        color: $blue;
        border-bottom: solid $blue 5px;

        transition: $transition-normal;
    }

    &:hover {
        color: $dark;
        border-bottom: solid $blue 5px;


        cursor: pointer;
        transition: $transition-fast;
    }



}

.promptBtn {
    border-radius: 25px;
    background-color: $blue;
    padding: 1rem;
}